body{
background-color: rgba(207, 43, 43, 0.925);
font-family: 'Roboto Slab', serif;
color: rgba(255, 255, 255, 0.74);
}

.container{
background: 

}
#r{
padding: 10px;
float:left;
}
#p{
padding: 10px;
float:left;

}

#s{
padding: 10px;
float:left;
}